<template>
  <app-layout>
    <div class="py-6">
      <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
          <div class="card m-4 p-4">
            <div class="card m-4">
              <div class="card-body">
                <div
                  class="mb-5 d-flex justify-content-between align-items-end"
                ></div>
                <ValidationObserver ref="tikcetForm">
                  <div class="row">
                    <div class="col-6">
                      <ValidationProvider
                        name="Monto"
                        rules="required|max:50"
                        v-slot="v"
                      >
                        <div class="form-group">
                          <label class="required">Monto Total:</label>
                          <input
                            type="text"
                            class="form-control"
                            v-model="form.monto"
                            maxlength="50"
                          />
                          <small class="text-danger">{{ v.errors[0] }}</small>
                          <small class="text-danger" v-if="errors.monto">
                            {{ errors.monto }}
                          </small>
                        </div>
                      </ValidationProvider>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-6">
                      <ValidationProvider
                        name="Tienda"
                        rules="required|max:30|min:5"
                        v-slot="v"
                      >
                        <div class="form-group">
                          <label class="required">Tienda</label>
                          <input
                            type="text"
                            class="form-control"
                            maxlength="30"
                            v-model="form.tienda"
                          />
                          <small class="text-danger">{{ v.errors[0] }}</small>
                          <small class="text-danger" v-if="errors.tienda">
                            {{ errors.tienda }}
                          </small>
                        </div>
                      </ValidationProvider>
                    </div>

                    <div class="col-12">
                      <!-- Carga de imagenes -->
                      <div class="mb-4">
                        <label class="required mb-3">Imagenes Ticket:</label>
                        <!-- Imagen Logo -->
                        <div>
                          <label class="custom-file">
                            <input
                              type="file"
                              accept="image/*"
                              @change="getImagen($event)"
                              style="display: none"
                            />
                            <span class="custom-option" v-if="!preview_logo"
                              >Seleccionar imagen Ticket</span
                            >
                            <span
                              class="custom-option"
                              v-if="preview_logo"
                              @click.prevent="showImagen('logo')"
                            >
                              Ver imagen Ticket
                            </span>
                          </label>

                          <a
                            href="#"
                            class="text-danger"
                            v-if="preview_logo"
                            @click.prevent="eliminarImagen('logo')"
                          >
                            <i class="far fa-trash-alt"></i>
                          </a>

                          <!-- Mensaje de error -->

                          <div class="text-danger" v-if="errors.imagen_logo">
                            {{ errors.imagen_logo }}
                          </div>

                          <!-- Eliminar imagen -->
                        </div>

                        <br />
                      </div>
                    </div>
                  </div>
                </ValidationObserver>
                <!-- Modal preview imagen -->
                <div class="modal fade" id="modalPreview">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img :src="preview" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-right border-0">
                <inertia-link
                  class="btn btn-light"
                  :href="route('tickets.index')"
                  preserve-state
                >
                  <i class="fas fa-times mr-2"></i>Cancelar
                </inertia-link>
                <button
                  class="btn btn-crear mr-1"
                  v-if="edit == false"
                  @click="guardarT"
                >
                  <i class="fas fa-save"></i>
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";
import {
  required,
  minLength,
  maxLength,
  email,
} from "vuelidate/lib/validators";

export default {
  components: {
    AppLayout,
  },
  props: { ticket: "", errors: Object },
  data() {
    return {
      edit: true,
      form: {
        monto: "",
        tienda: "",
      },
      file: "",
      file2: "",
      preview_logo: "",
      preview_fondo: "",
      preview: "",
      submitted: false,
    };
  },
  mounted() {
    // Mascaras
    Inputmask({
      mask: "99-99999999",
      autoUnmask: true,
    }).mask(".phone");

    if (this.restaurante) {
      this.form.monto = this.ticket.monto;
      this.form.tienda = this.ticket.tienda;

      this.preview_logo = `/storage/${this.ticket.imagen_logo}`;
      this.preview_fondo = `/storage/${this.ticket.imagen_fondo_aplicacion_movil}`;
    } else {
      this.edit = false;
    }

    // $("#modalPreview").on("hidden.bs.modal", function(e) {
    //   console.log("entro");
    //   this.preview = "";
    // });
  },
  methods: {
    guardarT() {
      this.$refs.tikcetForm.validate().then((res) => {
        if (res) {
          let form = new FormData();
          form.append("form", JSON.stringify(this.form));
          form.append("imagen_logo", this.file);
          let url = route("tickets.store");
          this.$inertia.post(url, form, {
            onSuccess: (res) => {
              if (Object.keys(res.props.errors).length) {
                Swal.fire(
                  "Error!",
                  "Por favor, complete los campos mencionados en el formulario",
                  "error"
                );
              } else {
                Swal.fire(
                  this.form.nombre,
                  "Ha sido creada exitosamente",
                  "success"
                );
              }
            },
          });
        } else {
          Swal.fire(
            "Error!",
            "Por favor, complete los campos mencionados en el formulario",
            "error"
          );
        }
      });
    },

    showImagen(imagen) {
      if (imagen == "logo") this.preview = this.preview_logo;
      if (imagen == "fondo") this.preview = this.preview_fondo;

      $("#modalPreview").modal("show");
    },
    getImagen(file) {
      this.file = file.target.files[0];
      this.preview_logo = URL.createObjectURL(file.target.files[0]);
    },
    getImagen2(file) {
      this.file2 = file.target.files[0];
      this.preview_fondo = URL.createObjectURL(file.target.files[0]);
    },
    eliminarImagen(imagen) {
      if (imagen == "logo") {
        this.preview_logo = "";
        this.file = "";
      }

      if (imagen == "fondo") {
        this.preview_fondo = "";
        this.file2 = "";
      }
    },
  },
  validations: {
    form: {
      nombre: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(50),
      },
      tienda: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(255),
      },
    },
  },
};
</script>

<style scoped>
.btn-light {
  background: #efefef !important;
}

.required:after {
  content: "*";
  color: #f97a74;
  margin-left: 5px;
}

.image {
  display: none;
}

.custom-file {
  width: 200px;
  height: 1px;
}

.custom-option {
  color: #6e86fd;
  cursor: pointer;
  font-weight: 500;
}

.modal-body {
  padding: 0px !important;
}

img {
  max-height: 600px;
  width: 500px;
}
</style>
