<template>
  <app-layout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Tickets</h2>
      <inertia-link
        :href="route('tickets.create')"
        class="nav-link d-block m-2"
        onclick="selectOptionMenu(this)"
        id="option-r"
        ><i class="fas fa-utensils"></i>
        Crear Nuevo
      </inertia-link>
      <inertia-link
        :href="route('tickets.terminos')"
        class="nav-link d-block m-2"
        onclick="selectOptionMenu(this)"
        id="option-r"
        ><i class="fas fa-utensils"></i>
        Terminos y condiciones
      </inertia-link>
      <inertia-link
        :href="route('tickets.avisos')"
        class="nav-link d-block m-2"
        onclick="selectOptionMenu(this)"
        id="option-r"
        ><i class="fas fa-utensils"></i>
        Aviso de Privacidad
      </inertia-link>
    </template>

    <div class="py-6">
      <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
          <div class="card m-4 p-4 card-restaurantes">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">Id</th>
                  <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">Monto</th>
                  <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">Tienda</th>
                  <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">Imagen</th>
                  <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">¿Activo?</th>
                  <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(row, index) in tickets" :key="index">
                  <td class="text-center px-4 py-2">{{ row.id }}</td>
                  <td class="text-center px-4 py-2">{{ row.monto }}</td>
                  <td class="text-center px-4 py-2">{{ row.tienda }}</td>
                    <td class="text-center px-4 py-2"><img :src="row.imagen_logo" class="img-responsive" 
          height="70" width="90"></td>
                  <td class="text-center px-4 py-2">
                    <input
                      type="checkbox"
                      v-model="row.activo"
                      @click.prevent="activo(row)"
                    />
                  </td>

                  <td class="text-center">
                    <a href="#" @click.prevent="eliminar(row)">
                      <i class="bi bi-trash-fill">Eliminar</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Welcome from "@/Jetstream/Welcome";
import Button from "../../Jetstream/Button.vue";

export default {
  components: {
    AppLayout,
    Welcome,
  },
  props: { tickets: "", dias: "", errors: Object },
  mounted() {},
  methods: {
    activo(row) {
      console.log("entro");
      let url = route("tickets.activo", row.id);
      this.$inertia.post(url, row);

      Swal.fire({
        position: "top-end",
        // icon: "success",
        text: "El registro se ha modificado con exito",
        showConfirmButton: false,
        timer: 700,
      });
      //   }
      // });
    },
    editar(row) {
      let url = route("tickets.edit", row.id);
      this.$inertia.get(url);
    },
    eliminar(row) {
      Swal.fire({
        title: "Advertencia!",
        text: "¿Desea eliminar el Ticket seleccionado?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          let url = route("tickets.destroy", row.id);

          this.$inertia.delete(url, {
            onSuccess: (res) => {
              if (res.props.errors.is_related) {
                Swal.fire(
                  row.nombre,
                  "No puede eliminarse por reglas de integridad, solo desactivar",
                  "error"
                );
              } else {
                Swal.fire(
                  row.nombre,
                  "Ha sido eliminada exitosamente",
                  "success"
                );
              }
            },
          });
        }
      });
    },
  },
};
</script>
<style scoped>
.error {
  border: 1px solid red;
  border-radius: 4px;
}
</style>


