<template>
  <app-layout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Tickets</h2>
      <inertia-link
        :href="route('tickets.create')"
        class="nav-link d-block m-2"
        onclick="selectOptionMenu(this)"
        id="option-r"
        ><i class="fas fa-utensils"></i>
        Crear Nuevo
      </inertia-link>
      <inertia-link
        :href="route('tickets.terminos')"
        class="nav-link d-block m-2"
        onclick="selectOptionMenu(this)"
        id="option-r"
        ><i class="fas fa-utensils"></i>
        Terminos y condiciones
      </inertia-link>
      <inertia-link
        :href="route('tickets.avisos')"
        class="nav-link d-block m-2"
        onclick="selectOptionMenu(this)"
        id="option-r"
        ><i class="fas fa-utensils"></i>
        Aviso de Privacidad
      </inertia-link>
    </template>

    <div class="py-6">
      <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
          <div class="card m-4 p-4 card-restaurantes">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint ocasionalecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "

Sección 1.10.32 de "de Finibus Bonorum et Malorum", escrito por Cicerón en el 45 a. C.
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aut aspernatit aut odit quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam vent enimtam voluptatem. , quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? "

1914 traducción de H. Rackham
excepto para obtener alguna ventaja de ello? Pero, ¿quién tiene derecho a criticar a un hombre que elige disfrutar de un placer que no tiene consecuencias molestas, o uno que evita un dolor que no produce ningún placer resultante? "

Sección 1.10.33 de "de Finibus Bonorum et Malorum", escrito por Cicerón en el 45 a. C.
"En vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint spectacati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolor fuidegam. rerum facilis est et expedita distinio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. "
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";

import Button from "../../Jetstream/Button.vue";

export default {
  components: {
    AppLayout,
  
  },
 


};
</script>
<style scoped>
.error {
  border: 1px solid red;
  border-radius: 4px;
}
</style>


