<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-6">
            <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                   <div class="card m-4 p-4 card-restaurantes">

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
                  <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">Id</th>
              <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">Monto</th>
              <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">Dirección</th>
              <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">¿Activo?</th>
              <th class="max-w-4xl mx-auto sm:px-6 lg:px-10">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, index) in tickets" :key="index">
                <td>{{ row.id }}</td>
              <td>{{ row.monto }}</td>
              <td>{{ row.tienda }}</td>
              <td class="text-center px-4 py-2">
                <input
                  type="checkbox"
                  v-model="row.activo"
                  @click.prevent="activo(row)"
                />
              </td>

              <td class="text-center td-accion">
                <a class="mr-1" href="#" @click.prevent="editar(row)">
                  <i class="far fa-edit"></i>
                </a>

                <a href="#" @click.prevent="eliminar(row)">
                  <i class="far fa-trash-alt"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

                    
                </div>
            </div>
  
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Welcome from "@/Jetstream/Welcome";

export default {
  components: {
    AppLayout,
    Welcome,
  },
   props: { tickets: "", dias: "", errors: Object },
  mounted() {},
  methods: {
    activo(row) {
      // Swal.fire({
      //   title: "¿Deseas cambiar el estado del registro?",
      //   showCancelButton: true,
      //   icon: "warning",
      //   confirmButtonColor: "#2F3D4C",
      //   cancelButtonColor: "#fa7973",
      //   confirmButtonText: "Si",
      //   cancelButtonText: "No",
      // }).then((result) => {
      //   if (result.value) {
          console.log("entro");
          let url = route("tickets.activo", row.id);
          this.$inertia.post(url, row);
          
          // Swal.fire("Exito!", "El registro fue creado con exito", "success");
          Swal.fire({
            position: "top-end",
            // icon: "success",
            text: "El registro se ha modificado con exito",
            showConfirmButton: false,
            timer: 700
          });
      //   }
      // });
    },
    editar(row) {
      let url = route("tickets.edit", row.id);
      this.$inertia.get(url);
    },
    eliminar(row) {
      Swal.fire({
        title: "Advertencia!",
        text: "¿Desea eliminar el restaurante seleccionado?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          let url = route("tickets.destroy", row.id);

          this.$inertia.delete(url, {
            onSuccess: (res) => {
              if (res.props.errors.is_related) {
                Swal.fire(
                  row.nombre,
                  "No puede eliminarse por reglas de integridad, solo desactivar",
                  "error"
                );
              } else {
                Swal.fire(
                  row.nombre,
                  "Ha sido eliminada exitosamente",
                  "success"
                );
              }
            },
          });
        }
      });
    },
  },
};
</script>
<style scoped>
.error {
  border: 1px solid red;
  border-radius: 4px;
}
</style>


