/* Estilos Menu principal-web */

body {
    /* overflow:hidden; */
    overflow: hidden;
    color: grey;
}

h1 {
    color: #013d4c;
    font-weight: 500;
}

h2 {
    color: #013d4c;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

label {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

/*------------Estilos NavPrincipal-----------------------*/

a {
    color: #013d4c;
}

/* .nav-link:hover {
    color: #606faf;
} */

.opcions {
    background-color: #f97a74;
    color: white;
}

.opcions:hover {
    color: white;
}

.menu>ul>li>.nav-link>img {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9af;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f97a74 !important;
}

.navbar {
    background: #a9afbb3b;
}

ul>li>a>i {
    padding: 6px;
}

.footer {
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: center;
    color: #111b54;
}

.sidebar-container {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: white;
    background-image: url("../img/fondo.jpg");
    border-right: 2px #cdcdcd solid;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar-container.menu {
    width: 20rem;
}

.btn-search {
    right: 5px;
}

.avatar {
    max-width: 45px;
    border-color: black;
}

.stat {
    border-right: 1px, solid;
}

.col-btn {
    padding-left: 217px !important;
}

@media (max-width: 768px) {
    .sidebar-container {
        display: none;
    }
}

/* Estilos para las tablas principales */

thead {
    border: 0px;
    color: #013d4c;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}

/* .table td,
.table th {
    border-top: none!important;
} */

td {
    border-top: solid 1px;
}

.td-accion {
    width: 141px;
}

.td-editar-btn {
    float: left;
}

/* .form-check-input {
    position: inherit!important;
}

input[type=checkbox],
input[type=radio] {
    height: 15px;
    width: 24px;
    background-color: #F97A74;
} */

/* Estilos checkbock---------------------*/

.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid #bebfc0;
    border-radius: 5px;
    margin-top: 6px;
}

/* On mouse-over, add a grey background color */

.check:hover input~.checkmark {
    background-color: #5bdde8;
}

/* When the checkbox is checked, add a blue background */

.check input:checked~.checkmark {
    background-color: #5bdde8;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.check input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.check .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Estilos contenedores---------------------*/

.card-header {
    font-family: "Roboto", sans-serif;
    background: rgba(1, 61, 76, 1);
    background: -moz-linear-gradient(left, rgba(1, 61, 76, 1) 0%, rgba(31, 104, 122, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(1, 61, 76, 1) 0%, rgba(31, 104, 122, 1) 100%);
    position: absolute;
    left: 15px;
    top: -9px;
    border-radius: 6px !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(228 228 228 / 40%);
}

.card {
    font-family: "Roboto", sans-serif;
    border-radius: 6px;
    background: white;
    position: absolute;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-body {
    overflow: auto;
}

@media only screen and (min-width: 768px) {
    .card-restaurantes {
        width: 85%;
        height: 85%;
    }
}

@media only screen and (min-width: 1024px) {
    .card-restaurantes {
        width: 77%;
        height: 85%;
    }
}

@media only screen and (min-width: 1440px) {
    .card-restaurantes {
        width: 81.5%;
        height: 87%;
    }
}

@media only screen and (min-width: 2560px) {
    .card-restaurantes {
        width: 87%;
        height: 85%;
    }
}

@media only screen and (min-width: 4696px) {
    .card-restaurantes {
        width: 86%;
        height: 85%;
    }
}

/*-----------------------------------*/

.btn-crear {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: rgb(249, 122, 116);
    background: linear-gradient(90deg, rgba(249, 122, 116, 1) 0%, rgba(245, 119, 113, 1) 100%);
    border-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgb(219 188 224 / 14%), 0 3px 1px -2px rgb(244 237 245 / 20%), 0 1px 5px 0 rgb(253 224 232 / 12%);
}

.btn-crear:hover {
    color: #fff;
    background: rgb(236, 105, 100);
    background: linear-gradient( 90deg, rgba(236, 105, 100, 1) 3%, rgba(249, 122, 116, 1) 46%, rgba(247, 88, 81, 1) 100%);
}

.i-crear {
    padding: 3px;
}

/* Estilos TABS*/

.btnsearch {
    width: 647px !important;
    height: 44px;
}

.avatar {
    float: left;
}

.opcions {
    background-color: #f97a74 !important;
    color: white;
}

.cont-principal {
    margin: 0px !important;
    padding: 0px;
}

.menuseccion {
    left: -90px !important;
}

#map {
    height: 350px;
}

.mapboxgl-canvas {
    height: 350px !important;
}